@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: #ECF2F8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
}
body .card {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 4rem 1rem;
  max-width: 30rem;
  box-shadow: 0 2px 5px #ccc;
}
@media (min-width: 48rem) {
  body .card {
    max-width: 45rem;
    display: flex;
  }
}
body .card figure {
  margin: 0;
}
body .card figure img {
  border-radius: 10px 10px 0 0;
}
@media (min-width: 48rem) {
  body .card figure img {
    border-radius: 10px 0 0 10px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
body .card .content .text-wrapper {
  margin: 2rem;
}
body .card .content .text-wrapper .main-text {
  color: #48556A;
  font-size: 1.25rem;
  font-weight: 700;
}
@media (min-width: 48rem) {
  body .card .content .text-wrapper .main-text {
    margin-top: 0;
  }
}
body .card .content .text-wrapper .subtext {
  color: #6E8098;
  font-size: 0.8rem;
}
body .card .content .author {
  padding: 2rem;
  display: flex;
  align-items: center;
  position: relative;
}
body .card .content .author .author__img {
  width: 40px;
  margin-right: 1rem;
}
body .card .content .author .author__img img {
  border-radius: 50%;
}
body .card .content .author div .author__name {
  margin: 0;
  font-size: 0.8rem;
  color: #48556A;
  font-weight: 700;
}
body .card .content .author div .author__date {
  font-size: 0.8rem;
  margin: 0;
  color: #6E8098;
  font-weight: 500;
}
body .card .content .author .author__share {
  background-color: #eee;
  border-radius: 50%;
  padding: 10px;
  margin-left: auto;
  z-index: 1;
}
body .card .content .author .author__share[data-state=active] {
  background-color: #6E8098;
}
body .card .content .author .author__share[data-state=active] img {
  filter: brightness(100);
}
body .card .content .author .author__share:hover, body .card .content .author .author__share:active, body .card .content .author .author__share:focus {
  background-color: #6E8098;
}
body .card .content .author .author__share:hover img, body .card .content .author .author__share:active img, body .card .content .author .author__share:focus img {
  filter: brightness(100);
}
body .card .content .author .author__share--menu {
  font-size: 0.8rem;
  display: none;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
  background-color: #48556A;
  border-radius: 0 0 10px 10px;
}
body .card .content .author .author__share--menu span {
  color: #9DAEC2;
  letter-spacing: 0.25rem;
}
body .card .content .author .author__share--menu[data-state=opened] {
  display: flex;
}
@media (min-width: 48rem) {
  body .card .content .author .author__share--menu {
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    top: -50px;
    left: 283px;
  }
  body .card .content .author .author__share--menu a {
    width: 20px;
    z-index: 1;
  }
  body .card .content .author .author__share--menu:last-child::after {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: -8px;
    left: calc(50% - 16px);
    transform: rotate(45deg);
    background-color: #48556A;
  }
}/*# sourceMappingURL=style.css.map */